# <%= project.camelize %>

Your App description goes here

## Console

    $ script/console


## Configuration

The app's configurations are in `<%= project.camelize %>.config` and you
can set anything you want under this, because it is an `OpenStruct`.

### After initialization

If you need to initialize something, after the app's initialization, you should
do this

    <%= project.camelize %>.after_initialize do
      # your code goes where
    end


